body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

#map {
  flex: 2; /* Ocupa más espacio que el texto */
  height: 100%;
}

.sidebar {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar h1 {
  margin-bottom: 10px;
  color: #09435C;
}

.sidebar p {
  color: #333;
  text-align: center;
}
