body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: #a33931;
    color: white;
    margin: 0;
    padding: 10px;
}

#mapa {
    height: 90vh;
    width: 100%;
}

.leaflet-popup-content img {
    max-width: 200px;
    height: auto;

.leaflet-popup-content {
    text-align: center;
    font-size: 14px;
}

.leaflet-popup-content strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.leaflet-popup-content img {
    max-width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

}